*{
    margin: 0%;
    padding: 0%;
   font-family: "General Sans";
    color: #dcd8d8;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
}

#loader{
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #171717;
    color: #ffff;
}
#loader h1{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
}
#loader h1 span{
    font-weight: 600;
    font-size: 5vw;
    font-family:"General Sans"; 
}
span #r{
    color: #52E0ED;
    
    
}
.loaderinner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 47%;
    transform: translate(-50%, 0);
}
.loaderinner h5{
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 300;
}
.rev .parent{
    display: block;
    justify-content: center;
    width: 100%;
    display: flex;
    overflow-y: hidden;
}
.rev .parent .child{
    display: block;
}
.parent .child span{
    display: inline-block;
}

#green{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0vh;
    background-color:#52E0ED ;
    z-index: 999;
}






.hero{
    width: 100%;
    height: 100vh;
    background-color:#171717;
}
.nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding: 1vw 5vw;
}
.nav a {
    
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;

}


  
.heading{
    margin-top: -40px;
}
.heading h1{
    color:#c8c8c8 ;
    opacity: .8;
    margin-left: -480px;
    font-size: 9vw;
    line-height: 1;
    font-family: "General Sans";
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing:0.2vw ;
}
.heading #sh1{
    margin-top:-40px ;
    margin-left: 130px;
    font-weight: 500;
}


.c-visual{
    height:230px ;
    width: 230px;
    margin-left: 70px;
    margin-top: -155px;
    
    
    

}
.heading2{
    margin-top: -60px;
    margin-left: 750px;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 0.1vw;
    font-size: 1.3vw;
 
}

.heading2 #right{
    margin-left: 85px;
    
}
.heading2 h5::selection{
    background-color :#52E0ED ;

    color: black;
}
#con{
    margin-top: -350px;
    margin-left: 350px ;
    color: #9b9b9bac;
    opacity: .4;
    font-family: "General Sans";
    font-size: 1.2vw;
}
#con2{
    margin-top: 20px;
    margin-left: 800px ;
    color:#9b9b9bac ;
    opacity: .4;
    font-family: "General Sans";
    font-size: 1.2vw;
}
